# 관리자/안전감독관/감리단장 결재 암호 (백엔드 전용, 브라우저로 내려가지 않음)
REPORT_ADMIN_PASSWORD=replace_with_real_admin_password
REPORT_INSPECTOR_PASSWORD=replace_with_real_inspector_password
REPORT_DIRECTOR_PASSWORD=replace_with_real_director_password
